#root {
  text-align: center;
}

.app-div {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;

  background-size: cover;
  background-repeat: repeat;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  background-size: contain;
  background-repeat: repeat-x;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.bg-error-joined {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  width: 400px;
  height: 200px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  border-radius: 20px;
  border: 3px solid var(--blue);
}

.error-joined-room {
  position: relative;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);

  font-size: 2vw;
  color: var(--black);
}

.username-master-div {
  position: relative;
  display: flex;
  top: 1.5vw;
  justify-content: center;
  z-index: 2;
  height: 4vw;
  cursor: default;
}

.username-actual {
  position: relative;
  margin: 0;
  top: 1vw;
  color: var(--black);
  font-size: 3vw;
}

.spectrum-div {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: start;

  z-index: 3;
  top: 25vh;
  width: 23vw;
  height: 60vh;
}

.spectrum-div-left {
  left: 1vw;
}

.spectrum-div-right {
  right: 0.5vw;
}

.launch-button {
  z-index: 2;
  margin: 0;
  top: 50%;
  background-color: var(--blue) !important;
  transform: translateY(-50%);
}

.waiting-button {
  z-index: 3;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);

  color: white !important;
  border-color: white !important;
  font-size: 1vw !important;
  cursor: default;
}

.waiting-button:hover {
  background-color: none !important;
  cursor: default;
}

.end-game-p {
  position: absolute;
  z-index: 2;
  justify-content: center;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  height: 5vw;
  font-size: 3.5vw;
}

.end-game-win {
  background-clip: text;
  background: -webkit-linear-gradient(white, var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--dark-blue);
}

.end-game-lose {
  color: var(--gradient-rose);
  background-clip: text;
  background: -webkit-linear-gradient(var(--rose), var(--gradient-rose));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--gradient-rose);
}

.end-game-cloud {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: calc(50% - 220px);
  width: 50%;
}

/* Demi laptop */
@media (max-width: 942px) {
  .bg-error-joined {
    width: 40%;
    height: 20%;
  }

  .waiting-button {
    color: var(--blue) !important;
    border-color: var(--blue) !important;
  }

  .spectrum-div {
    gap: 1.5%;
    top: 35vh;
    width: 20vw;
    height: 40vh;
  }

  .spectrum-div-right {
    right: 0;
  }

  .end-game-cloud {
    top: calc(50% - 130px);
    width: 40%;
  }
}

@media (max-width: 700px) {
  .spectrum-div {
    gap: 2%;
    top: 42vh;
    width: 15vw;
    height: 30vw;
  }

  .spectrum-div-left {
    left: 3vw;
  }

  .spectrum-div-right {
    right: 3vw;
  }

  .end-game-cloud {
    top: calc(50% - 100px);
    width: 30%;
  }
}
