.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  max-width: 310px;
  max-height: 615px;
  border: 2px solid rgb(236, 227, 227);
  gap: 2;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 29px;
  width: 29px;

  font-size: 14px;
  font-weight: bold;
  border: 1px solid #fff;
}
