.board-container {
  position: absolute;
  top: -4.6%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  max-width: 100%;
  aspect-ratio: 0.5;
  border: 2px solid rgb(236, 227, 227);
  gap: 2;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.615vw;
  width: 1.615vw;

  font-size: 14px;
  font-weight: bold;
  border: 1px solid #fff;
}
