body {
  font-family: "SpaceGrotesk", Helvetica, Arial, sans-serif;
  margin: 0;
}

:root {
  --light-blue: #d5eefb;
  --blue: #adc8e1;
  --dark-blue: #6aa9e3;
  --light-rose: #f9dde2;
  --rose: #ebadab;
  /* --yellow: #f9e8ad; */
  /* --gradient-rose: #c8514d; */
  --gradient-rose: #c60a04;
  --black: rgb(84, 71, 71);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../assets/fonts/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
