body {
  font-family: "SpaceGrotesk", Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("/assets/fonts/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
