.spectrum-container {
  position: relative;
  display: grid;
  z-index: 2;
  grid-template-columns: repeat(10, 1fr);
  align-items: end;

  width: 30%;
  height: 50%;

  border: 1px solid white;
  background-color: rgb(249, 234, 253);
}

.spectrum-bar {
  z-index: 3;
  width: 100%;
}

.username {
  position: absolute;
  z-index: 4;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3vw;
}

/* Demi laptop */
@media (max-width: 942px) {
  .spectrum-container {
    width: 30%;
    height: 40%;
  }
}

@media (max-width: 700px) {
  .spectrum-container {
    width: 28%;
    height: 40%;
  }
}
